.product-colors-list {
    margin: 0 -5px;
}

.product-colors-list .product-color-item {
    margin-left: 5px;
    margin-right: 5px;
}

.product-color {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    padding: 2px;
    border: 2px solid transparent;
}

.product-color.active {
    border-color: #ffda3f;
}

.product-color .product-color-media {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}