.catalog-controls-block {
    margin: 0 0 20px;
    color: rgba(51, 51, 51, .9);
    font-size: 15px;
    line-height: normal;
}

.catalog-controls-block .catalog-control-label {
    margin: 5px 10px 5px 0;
}

.catalog-sort-block .catalog-sort-button {
    cursor: pointer;
    margin: 0;
    padding: 8px 15px;
    border: none;
    border-radius: 0;
    background: #F4F4F4;
    color: rgba(51, 51, 51, .6);
    fill: rgba(51, 51, 51, .6);
    letter-spacing: -0.4px;
    transition: color .15s linear;
}

.catalog-sort-block .catalog-sort-button svg {
    margin-right: 5px;
    fill: inherit;
    vertical-align: baseline;
}

.catalog-sort-block .catalog-sort-button:hover {
    color: rgba(51, 51, 51, 1);
    fill: rgba(51, 51, 51, 1);
}


.catalog-layout-block .catalog-layout-list {
    margin: 0 -5px;
}

.catalog-layout-block .catalog-layout-list .catalog-layout-item {
    padding-left: 5px;
    padding-right: 5px;
}

.catalog-layout-block .catalog-layout-link {
    color: rgba(51, 51, 51, .6);
    fill: rgba(51, 51, 51, .6);
    transition: color .15s linear;
    text-decoration: none;
}

.catalog-layout-block .catalog-layout-link:hover {
    color: rgba(51, 51, 51, .9);
    fill: rgba(51, 51, 51, .9);
    text-decoration: none;
}

.catalog-layout-block .catalog-layout-link svg {
    fill: inherit;
    transition: fill .15s linear;
}

.catalog-layout-block .catalog-layout-link.active {
    color: #ffda3f;
    fill: #ffda3f;
}